{% load static %}
<div class="container-fluid about my-5" id="about">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-3 col-4 mt-4 mb-0 my-md-auto">
        <img src="{% static 'portfolio/images/about.png' %}" class="img-fluid" alt="" />
      </div>
      <div class="col-md-9 col-12 my-4 my-md-5">
        <div class="row">
          <div class="col playwrite-in-reg text-center mb-2 my-md-5">
            <h3><span class="fs-2">About me</span></h3>
          </div>
          <div class="row">
            <div class="col text-start">
              <p>
                Hello! I'm Abhishek More, a passionate and driven Full Stack Python Developer. I hold a Bachelor's degree in Computer Science (B.Sc.), which I completed in 2022. Recently, I enhanced my technical skills by completing a Full Stack Python Development Certification Course from Quastech, Thane, where I gained expertise in:
                <br />Frontend Technologies: HTML, CSS, JavaScript, Bootstrap, jQuery
                <br />Backend Technologies: Python, Django
                <br />Database Management: MySQL
                <br />
                I am eager to start my career in the tech industry and contribute to impactful projects. I'm always enthusiastic about learning new technologies and solving real-world problems through my skills in development. Currently, I am looking for an opportunity to work as a fresher developer where I can grow my skills and deliver value to the team. Feel free to explore my portfolio and reach out for collaboration or opportunities.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <h4>Education:</h4>
              <div>
                <h5>Bachelor of Science in Computer Science</h5>
                <p>S. S. S. Multipurpose Technical College | University of Mumbai</p>
                <p class="abt-mar">
                  <strong>Graduation Year:</strong> 2022
                </p>
              </div>
            </div>
            <div class="col-md-6 col-12 my-md-0 my-3">
              <h4>Certifications:</h4>
              <div>
                <h5>Full-Stack Python Development</h5>
                <p>Quastech, Thane</p>
                <p class="abt-mar">
                  <strong>Completion Year:</strong> jan 2025
                </p>
                <p>
                  <strong>Skills Covered:</strong> HTML, CSS, JavaScript, Bootstrap, jQuery, Python, MySQL, Django
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
