{% load static %}
<div class="container-fluid contback mb-md-5 mb-0">
  <div class="container">
    <div class="row my-md-5 mt-5">
      <div class="col-12 text-center playwrite-in-reg mt-md-5 mt-0">
        <h3><span class="fs-2">Get in Touch</span></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12 my-4 my-md-auto form-box">
        <div id="formDiv" class="">
          <form action="{% url 'home' %}" method="POST" id="myform" novalidate>
            {% csrf_token %}
            <div class="form-row">
              {% for fm in form %}
                <div class="col-12">
                  {{ fm.label_tag }} <br/>
                  {{fm}} <br> 
                  {% if fm.errors %}
                    <p>{{ fm.errors }}</p>
                  {% endif %}
                </div>
              {% endfor %}
              <div class="col-12 pt-2 pb-4">
                <button type="submit" class="btn btn-dark btn-sm">Send message</button>
              </div>
            </div>
          </form>
        </div>
        <div id="submittedDiv" class="hidden text-center py-5">
          <h3><em>"Got Your Message! I'll Get Back to You Soon."</em></h3>
          <img class="img-fluid" src="{% static 'portfolio/images/formsubmit.gif' %}" alt="submit-img">
        </div>  
      </div>
      <div class="col-md-6 col-12 my-md-auto">
        <div class="row">
          <div class="col-12 text-center">
            <h4>"Your Next Developer is One Message Away"</h4>
            <p>
              <i class="bi bi-geo-alt"></i> Mumbai, India
            </p>
            <p>
              <a class="info" href="mailto:aabhishm@gmail.com"><i class="bi bi-envelope-at"></i> aabhishm@gmail.com</a>
            </p>
            <p>
              <a class="info" href="tel:+917045464649"><i class="bi bi-telephone-inbound"></i> +91-7045464649</a>
            </p>
            <p>
              <a href="http://" target="_blank"><img class="img-fluid m-2 mx-sm-2" src="{% static 'home/images/github.png' %}" width="30px" alt="" /></a>
              <a href="http://" target="_blank"><img class="img-fluid m-2 mx-sm-2" src="{% static 'home/images/linkedin.png' %}" width="30px" alt="" /></a>
              <a href="mailto:"><img class="img-fluid m-2 mx-sm-2" src="{% static 'home/images/mail.png' %}" width="30px" alt="" /></a>
              <a href="tel:+917045464649"><img class="img-fluid m-2 mx-sm-2" src="{% static 'home/images/whatsapp.png' %}" width="30px" alt="" /></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

