{% load static %}
<div class="homecolor">
    <div class="container marzin">
        <div class="row">
          <div class="col-md my-auto text-start">
            <span id="typed" class="fira-code-type"></span>
            <h1>I am <span class="titan-one-regular">Abhishek More,</span> a Certified <span
                class=" kumar-one-outline-regular">Fullstack</span> <span class="titan-one-regular">Python</span> <span
                class="kumar-one-outline-regular">developer</span></h1>
          </div>
          <div class="col-md">
            <img class="img-fluid" src="{% static 'portfolio/images/mainpic.svg' %}" alt="">
          </div>
        </div>
    </div>
    <div class="container">
      <div class="row mt-5 mb-5">
        <div class="col-md-12 text-center d-flex">
          <a href="http://" target="_blank"><img class="img-fluid m-2 mx-sm-2" src="{% static 'portfolio/images/github.png' %}"
              width="40px" alt=""></a>
          <a href="http://" target="_blank"><img class="img-fluid m-2 mx-sm-2" src="{% static 'portfolio/images/linkedin.png' %}"
              width="40px" alt=""></a>
          <a href="mailto:"><img class="img-fluid m-2 mx-sm-2" src="{% static 'portfolio/images/mail.png' %}" width="40px"
              alt=""></a>
          <a href="tel:+917045464649"><img class="img-fluid m-2 mx-sm-2" src="{% static 'portfolio/images/whatsapp.png' %}"
              width="40px" alt=""></a>
          <hr class="my-auto opacity-75 border-4 rule">
        </div>
      </div>
    </div>
  </div>
</div>