{% load static %}
<div class="container-fluid titleback text-light playwrite-in-reg" id="skills>
  <div class="row marg">
    <div class="col-12 text-center">
      <h3><span class="fs-2">My Skills</span></h3>
    </div>
  </div>
</div>
<div class="container-fluid skback grd-section">
  <div class="row grd">
    <div class="col-12 col-md-6 d-flex justify-content-around rowhide">
      <img class="img-fluid marg" src="{% static 'portfolio/images/skills/coding.png' %}" width="70%" alt="" />
    </div>
    <div class="col-12 col-md-6 text-md-start text-center mt-0 text-light mb-3 rowhide">
      <div class="row mt-5">
        <div class="col">
          <img src="{% static 'portfolio/images/skills/python.png' %}" width="40px" alt="" /><br />
          Python
        </div>
        <div class="col">
          <img src="{% static 'portfolio/images/skills/django.png' %}" width="40px" alt="" /><br />
          Django
        </div>
        <div class="col">
          <img src="{% static 'portfolio/images/skills/mysql.png' %}" width="40px" alt="" /><br />
          Mysql
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <img src="{% static 'portfolio/images/skills/html.png' %}" width="40px" alt="" /><br />
          Html
        </div>
        <div class="col">
          <img src="{% static 'portfolio/images/skills/css.png' %}" width="40px" alt="" /><br />
          <span class="ps-2">Css</span>
        </div>
        <div class="col">
          <img src="{% static 'portfolio/images/skills/javascript.png' %}" width="40px" alt="" /><br />
          Javascript
        </div>
      </div>
      <div class="row mt-5" >
        <div class="col">
          <img src="{% static 'portfolio/images/skills/bootstrap.png' %}" width="40px" alt="" /><br />
          Bootstrap
        </div>
        <div class="col">
          <img src="{% static 'portfolio/images/skills/jquery.png' %}" width="40px" alt="" /><br />
          Jquery
        </div>
        <div class="col">
          <img src="{% static 'portfolio/images/skills/github1.png' %}" width="40px" alt="" /><br />
          Github
        </div>
      </div>
    </div>
  </div>
</div>
